.cronometro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'IBM Plex Mono', monospace;
  height: 100vh;
}
[data-time]{
  font-size: 100px;
  font-weight: bold;
}
.info-text{
  margin-top: 64px;
  font-weight: 600;
}
.btn-action{
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 4px;
  font-size: 20px;
  padding: 12px 32px;
  cursor: pointer;
}
.btn-action:disabled{
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-action:hover{
  border: 2px solid #000000;
  background-color: #FFFFFF;
  color: #000000;
}